.detailsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.col {
    max-width: 400px;
    margin: 15px;
}

.movieImage {
    border-radius: 5%;
}

.movieUrl {
    color:aqua;
}

.volverLink {
    color:aquamarine
}